# Data Cleaning and Preparation

In [5]:
# hum jub be map apply karty han wo series par karty han map ak ak value uth kar lata han

In [6]:
import numpy as np

In [7]:
import pandas as pd

In [8]:
# dataframe par applymap use hoga

In [9]:
# replace ak method han first value jis ma huma jo value dalni han dusri wo jis ko chnage karni han

In [6]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

In [7]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [8]:
data.replace([-999,-1000],np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [9]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
'Pastrami', 'corned beef', 'Bacon',
'pastrami', 'honey ham', 'nova lox'],
'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [10]:
data['food'].map(lambda x:meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

In [36]:
data['animal'] = lowercase.map(meat_to_animal)
data

NameError: name 'lowercase' is not defined

In [37]:
lowercase = data['food'].str.lower()

KeyError: 'food'

In [38]:
lowercase

NameError: name 'lowercase' is not defined

In [39]:
data.replace([-999,-1000],[np.nan,0])

            0         1         2         3
0   -0.585827 -1.046593 -0.198447 -0.868342
1    2.069113  1.313061  0.409983 -0.497434
2   -0.189545 -0.196567  0.734251  0.095344
3   -0.827390  0.907975  1.174718 -0.383564
4   -2.182982  0.794339 -0.458970  0.288108
5   -0.693162  0.879207 -0.343400  0.732916
6    1.515043 -0.210974  0.907453 -0.641931
7   -1.748456 -0.597323 -1.691661  0.183385
8    0.724921  0.461410 -0.447622  0.339526
9   -0.816813 -0.449041  0.344275  0.622846
10  -0.684222  0.040934  1.062946  0.294551
11  -0.339092  0.380173  1.018174  2.028940
12   0.379015  1.015550 -0.234279 -0.851015
13   1.638547  0.054550 -2.015851 -0.271869
14  -1.190892  0.233517  2.007422  0.379264
15  -0.346850 -0.199411  0.564029 -0.736015
16  -0.571959  0.624813 -0.872845  0.811088
17  -0.153762  0.996013  1.012336 -0.310183
18  -0.175005 -1.487941 -1.150612  0.180112
19  -0.052519  0.911351 -1.410378 -0.905108
20   1.179755 -0.702606 -0.651221 -2.338254
21   1.610944  0.158377 -0.642495  2.076495
22   0.183102 -0.948871 -2.418831 -1.113693
23   0.089448 -0.712775  1.460828  2.499514
24   0.508687  2.113275  0.969835  0.490024
25   0.472228  0.496084  1.475123 -0.806484
26  -0.400462  1.075028 -0.709742 -0.327278
27  -1.057584 -1.861443 -1.056371  0.674120
28  -0.124468  0.460983 -0.006326 -0.636782
29  -0.108290 -1.786842 -1.444973 -1.702855
..        ...       ...       ...       ...
970 -0.855748 -0.672924 -0.384797  0.121997
971 -1.092005  0.555866 -1.094698 -0.141207
972  1.923917 -1.112512 -0.240804 -0.199170
973  1.355955 -0.627257  2.093928  0.071722
974  0.044174 -0.752536 -0.402944 -1.758543
975  1.108961 -0.441581 -1.010083 -0.685469
976 -0.758924 -2.268369 -0.470209  1.323644
977 -0.615626  0.373599 -0.054526  0.093570
978  0.010663 -0.821367  0.579316  1.228503
979  2.003387 -0.443051 -0.740711 -0.109943
980 -1.270950 -0.575283  1.604598  0.303405
981  0.173737  2.042203 -0.935213 -0.198434
982  1.488847  1.018065 -1.531295 -1.393175
983  0.830839 -1.156322 -0.712548  0.406584
984 -0.206774  0.959866 -0.087467 -0.428101
985 -0.536222 -1.240390  0.080066 -0.696303
986  0.709111 -0.287651  0.342748 -1.034492
987  0.353531 -0.169474 -1.228859  1.151436
988  0.200320 -0.281025  0.570054  1.418372
989 -1.273599  0.222395 -0.335279  1.676262
990  0.682947  0.808391  0.737781  0.673403
991  0.232321  0.699466  1.162227  0.771654
992 -2.159148  0.617280  0.817142  1.059315
993  0.624338 -0.508891 -1.031096 -0.299224
994  1.888185  0.200333 -1.482361 -1.765333
995  0.901902 -2.934246 -0.519997 -0.198696
996 -1.768499 -0.449254 -0.427259 -0.266717
997  0.909661 -2.902711  0.587695  0.465149
998  1.677616 -0.748094  0.004484 -1.227031
999 -0.624950 -1.857271  0.770865  0.678565

[1000 rows x 4 columns]

In [40]:
data

            0         1         2         3
0   -0.585827 -1.046593 -0.198447 -0.868342
1    2.069113  1.313061  0.409983 -0.497434
2   -0.189545 -0.196567  0.734251  0.095344
3   -0.827390  0.907975  1.174718 -0.383564
4   -2.182982  0.794339 -0.458970  0.288108
5   -0.693162  0.879207 -0.343400  0.732916
6    1.515043 -0.210974  0.907453 -0.641931
7   -1.748456 -0.597323 -1.691661  0.183385
8    0.724921  0.461410 -0.447622  0.339526
9   -0.816813 -0.449041  0.344275  0.622846
10  -0.684222  0.040934  1.062946  0.294551
11  -0.339092  0.380173  1.018174  2.028940
12   0.379015  1.015550 -0.234279 -0.851015
13   1.638547  0.054550 -2.015851 -0.271869
14  -1.190892  0.233517  2.007422  0.379264
15  -0.346850 -0.199411  0.564029 -0.736015
16  -0.571959  0.624813 -0.872845  0.811088
17  -0.153762  0.996013  1.012336 -0.310183
18  -0.175005 -1.487941 -1.150612  0.180112
19  -0.052519  0.911351 -1.410378 -0.905108
20   1.179755 -0.702606 -0.651221 -2.338254
21   1.610944  0.158377 -0.642495  2.076495
22   0.183102 -0.948871 -2.418831 -1.113693
23   0.089448 -0.712775  1.460828  2.499514
24   0.508687  2.113275  0.969835  0.490024
25   0.472228  0.496084  1.475123 -0.806484
26  -0.400462  1.075028 -0.709742 -0.327278
27  -1.057584 -1.861443 -1.056371  0.674120
28  -0.124468  0.460983 -0.006326 -0.636782
29  -0.108290 -1.786842 -1.444973 -1.702855
..        ...       ...       ...       ...
970 -0.855748 -0.672924 -0.384797  0.121997
971 -1.092005  0.555866 -1.094698 -0.141207
972  1.923917 -1.112512 -0.240804 -0.199170
973  1.355955 -0.627257  2.093928  0.071722
974  0.044174 -0.752536 -0.402944 -1.758543
975  1.108961 -0.441581 -1.010083 -0.685469
976 -0.758924 -2.268369 -0.470209  1.323644
977 -0.615626  0.373599 -0.054526  0.093570
978  0.010663 -0.821367  0.579316  1.228503
979  2.003387 -0.443051 -0.740711 -0.109943
980 -1.270950 -0.575283  1.604598  0.303405
981  0.173737  2.042203 -0.935213 -0.198434
982  1.488847  1.018065 -1.531295 -1.393175
983  0.830839 -1.156322 -0.712548  0.406584
984 -0.206774  0.959866 -0.087467 -0.428101
985 -0.536222 -1.240390  0.080066 -0.696303
986  0.709111 -0.287651  0.342748 -1.034492
987  0.353531 -0.169474 -1.228859  1.151436
988  0.200320 -0.281025  0.570054  1.418372
989 -1.273599  0.222395 -0.335279  1.676262
990  0.682947  0.808391  0.737781  0.673403
991  0.232321  0.699466  1.162227  0.771654
992 -2.159148  0.617280  0.817142  1.059315
993  0.624338 -0.508891 -1.031096 -0.299224
994  1.888185  0.200333 -1.482361 -1.765333
995  0.901902 -2.934246 -0.519997 -0.198696
996 -1.768499 -0.449254 -0.427259 -0.266717
997  0.909661 -2.902711  0.587695  0.465149
998  1.677616 -0.748094  0.004484 -1.227031
999 -0.624950 -1.857271  0.770865  0.678565

[1000 rows x 4 columns]

data.replace({-999:np.nan})

In [79]:
data1 = pd.DataFrame(np.arange(12).reshape((3,4)),
                   index = ['Sameer','new york','dada'],
                   columns=['one','two','three','four'])

In [80]:
data

         ON  TW  TH  FO   Fo
INDIANA   0   1   2   3  0.0
New       4   5   6   7  4.0
Dada      8   9  10  11  NaN

In [43]:
tranform = lambda x:x[:4].upper()

In [44]:
data.index

Index(['Sameer', 'new york', 'dada'], dtype='object')

In [45]:
data.index.map(tranform)

Index(['SAME', 'NEW ', 'DADA'], dtype='object')

In [46]:
data.index = data.index.map(tranform)

In [47]:
data

      one  two  three  four
SAME    0    1      2     3
NEW     4    5      6     7
DADA    8    9     10    11

In [48]:
data.columns

Index(['one', 'two', 'three', 'four'], dtype='object')

In [49]:
transformcolumns = lambda x: x[:2].upper()

In [50]:
data.columns.map(transformcolumns)

Index(['ON', 'TW', 'TH', 'FO'], dtype='object')

In [51]:
data.columns = data.columns.map(transformcolumns)

In [52]:
data

      ON  TW  TH  FO
SAME   0   1   2   3
NEW    4   5   6   7
DADA   8   9  10  11

In [53]:
data.rename(index=str.title,columns=str.upper,inplace=True)

In [72]:
data

         ON  TW  TH  FO   Fo
INDIANA   0   1   2   3  0.0
New       4   5   6   7  4.0
Dada      8   9  10  11  NaN

In [73]:
data.rename(index={'Same':'dublin'},columns = {'FO':"peekaboo"})

         ON  TW  TH  peekaboo   Fo
INDIANA   0   1   2         3  0.0
New       4   5   6         7  4.0
Dada      8   9  10        11  NaN

In [74]:
data.rename(index={'Same':'INDIANA'},inplace=True)

In [75]:
data['Fo'] = 45

In [76]:
data['Fo'] = data[:2]

In [81]:
data1

          one  two  three  four
Sameer      0    1      2     3
new york    4    5      6     7
dada        8    9     10    11

In [90]:
data1.loc['new york'][3] = 12
data1

          one  two  three  four
Sameer      0    1      2     3
new york    4    5      6    12
dada        8    9     10    11

# Discretication and Binning

In [19]:
ages = [1,2,3,4,5,6,7,8,9,10,11,12,13,15]

In [24]:
bins = [8,5,6,4,2,45]

In [25]:
cats = pd.cut(ages,bins)

ValueError: bins must increase monotonically.

In [26]:
pd.cut(ages,[18,26,36,61,100],right=False)

[NaN, NaN, NaN, NaN, NaN, ..., NaN, NaN, NaN, NaN, NaN]
Length: 14
Categories (4, interval[int64]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [27]:
data = np.random.rand(20)

In [28]:
data

array([0.32679323, 0.78469734, 0.18338371, 0.07201463, 0.26770943,
       0.68730623, 0.0506761 , 0.82838033, 0.19574625, 0.01851962,
       0.57649145, 0.79533303, 0.02278817, 0.08291432, 0.00798532,
       0.52174133, 0.44198771, 0.4088085 , 0.29260141, 0.33425208])

In [29]:
cats = pd.cut(data,4,precision=4)

In [30]:
cats

[(0.2131, 0.4182], (0.6233, 0.8284], (0.007165, 0.2131], (0.007165, 0.2131], (0.2131, 0.4182], ..., (0.4182, 0.6233], (0.4182, 0.6233], (0.2131, 0.4182], (0.2131, 0.4182], (0.2131, 0.4182]]
Length: 20
Categories (4, interval[float64]): [(0.007165, 0.2131] < (0.2131, 0.4182] < (0.4182, 0.6233] < (0.6233, 0.8284]]

In [31]:
pd.value_counts(cats)

(0.007165, 0.2131]    8
(0.2131, 0.4182]      5
(0.6233, 0.8284]      4
(0.4182, 0.6233]      3
dtype: int64

# Detecting and filtering Outliers

In [32]:
import pandas as pd

In [33]:
import numpy as np

In [34]:
data = pd.DataFrame(np.random.randn(1000,4))

In [35]:
data

            0         1         2         3
0   -0.585827 -1.046593 -0.198447 -0.868342
1    2.069113  1.313061  0.409983 -0.497434
2   -0.189545 -0.196567  0.734251  0.095344
3   -0.827390  0.907975  1.174718 -0.383564
4   -2.182982  0.794339 -0.458970  0.288108
5   -0.693162  0.879207 -0.343400  0.732916
6    1.515043 -0.210974  0.907453 -0.641931
7   -1.748456 -0.597323 -1.691661  0.183385
8    0.724921  0.461410 -0.447622  0.339526
9   -0.816813 -0.449041  0.344275  0.622846
10  -0.684222  0.040934  1.062946  0.294551
11  -0.339092  0.380173  1.018174  2.028940
12   0.379015  1.015550 -0.234279 -0.851015
13   1.638547  0.054550 -2.015851 -0.271869
14  -1.190892  0.233517  2.007422  0.379264
15  -0.346850 -0.199411  0.564029 -0.736015
16  -0.571959  0.624813 -0.872845  0.811088
17  -0.153762  0.996013  1.012336 -0.310183
18  -0.175005 -1.487941 -1.150612  0.180112
19  -0.052519  0.911351 -1.410378 -0.905108
20   1.179755 -0.702606 -0.651221 -2.338254
21   1.610944  0.158377 -0.642495  2.076495
22   0.183102 -0.948871 -2.418831 -1.113693
23   0.089448 -0.712775  1.460828  2.499514
24   0.508687  2.113275  0.969835  0.490024
25   0.472228  0.496084  1.475123 -0.806484
26  -0.400462  1.075028 -0.709742 -0.327278
27  -1.057584 -1.861443 -1.056371  0.674120
28  -0.124468  0.460983 -0.006326 -0.636782
29  -0.108290 -1.786842 -1.444973 -1.702855
..        ...       ...       ...       ...
970 -0.855748 -0.672924 -0.384797  0.121997
971 -1.092005  0.555866 -1.094698 -0.141207
972  1.923917 -1.112512 -0.240804 -0.199170
973  1.355955 -0.627257  2.093928  0.071722
974  0.044174 -0.752536 -0.402944 -1.758543
975  1.108961 -0.441581 -1.010083 -0.685469
976 -0.758924 -2.268369 -0.470209  1.323644
977 -0.615626  0.373599 -0.054526  0.093570
978  0.010663 -0.821367  0.579316  1.228503
979  2.003387 -0.443051 -0.740711 -0.109943
980 -1.270950 -0.575283  1.604598  0.303405
981  0.173737  2.042203 -0.935213 -0.198434
982  1.488847  1.018065 -1.531295 -1.393175
983  0.830839 -1.156322 -0.712548  0.406584
984 -0.206774  0.959866 -0.087467 -0.428101
985 -0.536222 -1.240390  0.080066 -0.696303
986  0.709111 -0.287651  0.342748 -1.034492
987  0.353531 -0.169474 -1.228859  1.151436
988  0.200320 -0.281025  0.570054  1.418372
989 -1.273599  0.222395 -0.335279  1.676262
990  0.682947  0.808391  0.737781  0.673403
991  0.232321  0.699466  1.162227  0.771654
992 -2.159148  0.617280  0.817142  1.059315
993  0.624338 -0.508891 -1.031096 -0.299224
994  1.888185  0.200333 -1.482361 -1.765333
995  0.901902 -2.934246 -0.519997 -0.198696
996 -1.768499 -0.449254 -0.427259 -0.266717
997  0.909661 -2.902711  0.587695  0.465149
998  1.677616 -0.748094  0.004484 -1.227031
999 -0.624950 -1.857271  0.770865  0.678565

[1000 rows x 4 columns]

In [ ]:
string_data = pd.Series()